// Service API Module: {{ service_name }}

plugins {
    id("convention.service.api")
}

android {
    namespace = "{{ base_package }}.service.{{ service_name_lower }}"
}

dependencies {
    // Add dependencies if needed
}
