package {{ base_package }}.service.{{ service_name_lower }}.model

/**
 * Response model for {{ service_name }} service
 */
/**
 * Response model for {{ service_name }} service
 */
public data class {{ service_name }}Response(
    public val id: String,
    public val data: String,
    public val timestamp: Long
)
