package {{ cookiecutter.base_package }}.di

import android.content.Context
import dagger.Module
import dagger.Provides
import dagger.hilt.InstallIn
import dagger.hilt.android.qualifiers.ApplicationContext
import dagger.hilt.components.SingletonComponent
import {{ cookiecutter.base_package }}.BuildConfig
import {{ cookiecutter.base_package }}.deeplink.DeepLinkParser
import javax.inject.Named
import javax.inject.Singleton

@Module
@InstallIn(SingletonComponent::class)
object AppModule {

    @Provides
    @Singleton
    fun provideApplicationContext(@ApplicationContext context: Context): Context = context

    @Provides
    @Named("baseUrl")
    // Replace with your production base URL.
    fun provideBaseUrl(): String = "https://api.example.com/"

    @Provides
    @Named("isDebug")
    fun provideIsDebug(): Boolean = BuildConfig.DEBUG

    @Provides
    @Singleton
    fun provideDeepLinkParser(): DeepLinkParser = DeepLinkParser
}
