{
  "project_info": {
    "project_number": "364602141534",
    "project_id": "time-block-log",
    "storage_bucket": "time-block-log.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:364602141534:android:d01956903a3a9772b33dcf",
        "android_client_info": {
          "package_name": "{{ cookiecutter.base_package }}"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyBCOGOieOc5FajIHw1j4lU4uA0h57jZs1c"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
