// Domain API Module: {{ domain_name }}

plugins {
    id("convention.domain.api")
}

android {
    namespace = "{{ base_package }}.domain.{{ domain_name_lower }}"
}

dependencies {
    // Add other domain-api dependencies if needed
}
