package {{ base_package }}.domain.{{ domain_name_lower }}.model

/**
 * Domain model for {{ domain_name }}
 */
/**
 * Domain model for {{ domain_name }}
 */
public data class {{ domain_name }}(
    public val id: String,
    public val name: String,
    public val createdAt: Long
)
